ul {
    height: 1000px;
    line-height: 50px;
    width: 223px;
    background-image: linear-gradient(0deg, #1fab8a, #6f42c1);
    margin-top: -175px;
    padding-top: 200px;
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    position: fixed;
}
.nav-bar-image {
    height: 190px;
    margin-left: -25px;
}
li {
    display: list-item;
    text-align: match-parent; 
}
